.list-style-none {
  list-style: none;
}

.text-decoration-none {
  text-decoration: none;
}

@font-face {
  font-family: Barlow;
  src: url("../assets/fonts/Barlow/Barlow-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Barlow;
  src: url("../assets/fonts/Barlow/Barlow-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Fraunces;
  src: url("../assets/fonts/Fraunces/static/Fraunces/Fraunces-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Fraunces;
  src: url("../assets/fonts/Fraunces/static/Fraunces/Fraunces-Bold.ttf");
  font-weight: bold;
}

nav#navbar {
  background-color: #3DBEFF;
  width: 100vw;
  height: 80px;
  padding: 0 1em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

nav#navbar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
}

nav#navbar .wrapper #navbar-toggler {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

nav#navbar .wrapper #navbar-links {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 1em;
  margin-top: 1em;
  display: none;
}

nav#navbar .wrapper #navbar-links.show {
  display: block;
  -webkit-animation: fade-in 0.3s;
          animation: fade-in 0.3s;
}

nav#navbar .wrapper #navbar-links::before {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  position: absolute;
  bottom: 100%;
  right: 0;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
  background-color: inherit;
}

#navbar-links li a {
  font-family: Barlow;
  font-weight: 600;
  padding: 1em 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
}

#navbar-links li a:not(#to-contacts) {
  text-align: center;
  color: #818498;
}

#navbar-links li a#to-contacts {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.5em auto 0;
  padding: 1em 1.5em;
  color: #23303e;
  text-transform: uppercase;
  font-family: Fraunces;
  font-size: 1rem;
  border-radius: 1.5em;
  background-color: #fad400;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#navbar-links li a#to-contacts:hover {
  background-color: #e0bf00;
}

#navbar-links li a:hover {
  color: #5a636c;
}

@media screen and (min-width: 992px) {
  nav#navbar {
    height: auto;
    padding: 1.5em 0;
  }
  nav#navbar .wrapper {
    padding: 0 2em;
  }
  nav#navbar .wrapper #navbar-toggler {
    display: none;
  }
  nav#navbar .wrapper #navbar-links {
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: static;
    margin: 0;
    padding: 0;
  }
  nav#navbar .wrapper #navbar-links.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: none;
            animation: none;
  }
  nav#navbar .wrapper #navbar-links::before {
    content: none;
  }
  #navbar-links li a {
    padding: 0 1.2em;
    color: #fff;
  }
  #navbar-links li a:not(#to-contacts) {
    color: #fff;
    font-weight: normal;
  }
  #navbar-links li a#to-contacts {
    margin-top: 0;
    margin-left: 1.2em;
    padding: 1em 1.5em;
    background-color: #fff;
  }
  #navbar-links li a#to-contacts:hover {
    color: #fff;
    background-color: #6CD0FF;
  }
  #navbar-links li a:hover {
    color: rgba(255, 255, 255, 0.6);
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(-1em);
            transform: translateY(-1em);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(-1em);
            transform: translateY(-1em);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

header#intro {
  background-image: url("../assets/images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

header#intro .wrapper {
  width: 100%;
  min-height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header#intro .wrapper h1 {
  font-family: Fraunces;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 0.2em;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

header#intro .wrapper a#scroll-to-content {
  margin-top: 2.5em;
  display: block;
  text-decoration: none;
}

header#intro .wrapper a#scroll-to-content svg {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media screen and (min-width: 768px) {
  header#intro .wrapper h1 {
    font-size: 2.3em;
  }
}

@media screen and (min-width: 992px) {
  header#intro {
    background-image: url("../assets/images/desktop/image-header.jpg");
  }
  header#intro .wrapper {
    min-height: 100vh;
  }
  header#intro .wrapper h1 {
    font-size: 3em;
  }
  header#intro .wrapper a#scroll-to-content {
    margin-top: 3.5em;
  }
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  to {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
}

@keyframes bounce {
  from {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  to {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.125rem;
}
/*# sourceMappingURL=main.css.map */