.list-style-none {
  list-style: none;
}

.text-decoration-none {
  text-decoration: none;
}

@font-face {
  font-family: Barlow;
  src: url("../assets/fonts/Barlow/Barlow-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Barlow;
  src: url("../assets/fonts/Barlow/Barlow-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Fraunces;
  src: url("../assets/fonts/Fraunces/static/Fraunces/Fraunces-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Fraunces;
  src: url("../assets/fonts/Fraunces/static/Fraunces/Fraunces-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Fraunces;
  src: url("../assets/fonts/Fraunces/static/Fraunces/Fraunces-ExtraBold.ttf");
  font-weight: 900;
}

nav#navbar {
  background-color: #3DBEFF;
  width: 100vw;
  height: 80px;
  padding: 0 1em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

nav#navbar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
}

nav#navbar .wrapper #navbar-toggler {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

nav#navbar .wrapper #navbar-links {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 1em;
  margin-top: 1em;
  display: none;
}

nav#navbar .wrapper #navbar-links.show {
  display: block;
  -webkit-animation: fade-in 0.3s;
          animation: fade-in 0.3s;
}

nav#navbar .wrapper #navbar-links::before {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  position: absolute;
  bottom: 100%;
  right: 0;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
  background-color: inherit;
}

#navbar-links li a {
  font-family: Barlow;
  font-weight: 600;
  padding: 1em 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
}

#navbar-links li a:not(#to-contacts) {
  text-align: center;
  color: #818498;
}

#navbar-links li a#to-contacts {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.5em auto 0;
  padding: 1em 1.5em;
  color: #23303e;
  text-transform: uppercase;
  font-family: Fraunces;
  font-size: 1rem;
  border-radius: 1.5em;
  background-color: #fad400;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#navbar-links li a#to-contacts:hover {
  background-color: #e0bf00;
}

#navbar-links li a:hover {
  color: #5a636c;
}

@media screen and (min-width: 992px) {
  nav#navbar {
    height: auto;
    padding: 1.5em 0;
  }
  nav#navbar .wrapper {
    padding: 0 2em;
  }
  nav#navbar .wrapper #navbar-toggler {
    display: none;
  }
  nav#navbar .wrapper #navbar-links {
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: static;
    margin: 0;
    padding: 0;
  }
  nav#navbar .wrapper #navbar-links.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: none;
            animation: none;
  }
  nav#navbar .wrapper #navbar-links::before {
    content: none;
  }
  #navbar-links li a {
    padding: 0 1.2em;
    color: #fff;
  }
  #navbar-links li a:not(#to-contacts) {
    color: #fff;
    font-weight: normal;
  }
  #navbar-links li a#to-contacts {
    margin-top: 0;
    margin-left: 1.2em;
    padding: 1em 1.5em;
    background-color: #fff;
  }
  #navbar-links li a#to-contacts:hover {
    color: #fff;
    background-color: #6CD0FF;
  }
  #navbar-links li a:hover {
    color: rgba(255, 255, 255, 0.6);
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(-1em);
            transform: translateY(-1em);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(-1em);
            transform: translateY(-1em);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

header#intro {
  background-image: url("../assets/images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

header#intro .wrapper {
  width: 100%;
  min-height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header#intro .wrapper h1 {
  font-family: Fraunces;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 0.2em;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

header#intro .wrapper a#scroll-to-content {
  margin-top: 2.5em;
  display: block;
  text-decoration: none;
}

header#intro .wrapper a#scroll-to-content svg {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media screen and (min-width: 768px) {
  header#intro .wrapper h1 {
    font-size: 2.3em;
  }
}

@media screen and (min-width: 992px) {
  header#intro {
    background-image: url("../assets/images/desktop/image-header.jpg");
  }
  header#intro .wrapper {
    min-height: 100vh;
  }
  header#intro .wrapper h1 {
    font-size: 3em;
  }
  header#intro .wrapper a#scroll-to-content {
    margin-top: 3.5em;
  }
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  to {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
}

@keyframes bounce {
  from {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  to {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
}

section#features-1 article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: 'illustration' 'content';
  -ms-flex-line-pack: center;
      align-content: center;
}

section#features-1 article .illustration {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: illustration;
  width: 100%;
}

section#features-1 article .content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
  text-align: center;
  padding: 3.5em 1.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#features-1 article .content h2 {
  font-family: Fraunces;
  font-weight: bold;
  color: #23303e;
  font-size: 1.8em;
  font-weight: 900;
  margin-bottom: 0.8em;
  width: 100%;
}

section#features-1 article .content p {
  font-family: Barlow;
  font-weight: 600;
  color: #818498;
  line-height: 1.6em;
  margin-bottom: 1.8em;
}

section#features-1 article .content a {
  display: inline-block;
  text-decoration: none;
  margin: auto;
  font-family: Fraunces;
  font-weight: 900;
  color: #23303e;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1em;
  font-size: 0.85em;
  position: relative;
}

section#features-1 article .content a span.text {
  position: relative;
  z-index: 2;
}

section#features-1 article .content a::after {
  content: "";
  display: block;
  width: calc(100% + 1em);
  height: 0.7em;
  border-radius: 0.7em;
  position: absolute;
  top: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

section#features-1 article:nth-child(1) a::after {
  background-color: rgba(250, 212, 0, 0.5);
}

section#features-1 article:nth-child(1) a:hover::after {
  background-color: #fad400;
}

section#features-1 article:nth-child(2) a::after {
  background-color: rgba(254, 120, 103, 0.5);
}

section#features-1 article:nth-child(2) a:hover::after {
  background-color: #fe7867;
}

@media screen and (min-width: 578px) {
  section#features-1 article .content {
    padding: 8em 1.3em;
  }
}

@media screen and (min-width: 992px) {
  section#features-1 article {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  section#features-1 article .illustration {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: illustration;
  }
  section#features-1 article:nth-child(1) {
        grid-template-areas: 'content illustration';
  }
  section#features-1 article:nth-child(2) {
        grid-template-areas: 'illustration content';
  }
  section#features-1 article .content {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: content;
    text-align: left;
    padding: 0 10%;
  }
  section#features-1 article .content h2 {
    font-size: 2.34em;
  }
  section#features-1 article .content a {
    margin: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

#features-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: 'graphic-design' 'photography';
}

#features-2 article {
  width: 100%;
  position: relative;
}

#features-2 article .features-2-illustration {
  width: 100%;
  display: block;
}

#features-2 > *.graphic-design {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: graphic-design;
}

#features-2 > *.photography {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: photography;
}

#features-2 article.graphic-design .content > * {
  color: #25564b;
}

#features-2 article.photography .content > * {
  color: #19536b;
}

#features-2 article .content {
  position: absolute;
  height: 50%;
  width: 100%;
  max-width: 380px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#features-2 article .content h3 {
  font-size: 1.8rem;
  font-family: Fraunces;
  font-weight: 900;
  margin-bottom: 2rem;
}

#features-2 article .content p {
  font-size: 1rem;
  font-family: Barlow;
  font-weight: 600;
  padding: 0 0.8rem;
  line-height: 1.7rem;
}

@media screen and (min-width: 992px) {
  #features-2 {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: 'graphic-design photography';
  }
}

section#testimonials {
  padding: 4rem 1.5rem;
  text-align: center;
}

section#testimonials h2 {
  font-family: Fraunces;
  font-weight: 900;
  font-size: 1rem;
  color: #a7abae;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-bottom: 4rem;
}

section#testimonials ul.testimonials-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

section#testimonials ul.testimonials-list li.testimonials-list-item {
  display: block;
  margin-bottom: 4rem;
}

section#testimonials ul.testimonials-list li.testimonials-list-item:last-child {
  margin-bottom: 0;
}

section#testimonials ul.testimonials-list li.testimonials-list-item img {
  display: inline-block;
  width: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
  margin-bottom: 2rem;
}

section#testimonials ul.testimonials-list li.testimonials-list-item p.quote {
  font-size: 1.1rem;
  font-family: Barlow;
  font-weight: 600;
  line-height: 2rem;
  color: #5a636c;
  margin-bottom: 2rem;
}

section#testimonials ul.testimonials-list li.testimonials-list-item p.author > * {
  display: block;
}

section#testimonials ul.testimonials-list li.testimonials-list-item .author-name {
  font-family: Fraunces;
  font-weight: 900;
  color: #23303e;
  margin-bottom: 0.6rem;
}

section#testimonials ul.testimonials-list li.testimonials-list-item .author-position {
  color: #a7abae;
  font-size: 0.94rem;
  font-family: Barlow;
  font-weight: 600;
  font-style: normal;
  text-transform: capitalize;
}

@media screen and (min-width: 776px) {
  section#testimonials {
    padding: 6rem 1.5rem;
  }
  section#testimonials ul.testimonials-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section#testimonials ul.testimonials-list li.testimonials-list-item {
    width: 50%;
    padding: 0 1rem;
  }
}

@media screen and (min-width: 992px) {
  section#testimonials {
    padding: 8rem 2rem;
  }
  section#testimonials h2 {
    margin-bottom: 6rem;
    font-size: 1.2rem;
    letter-spacing: 0.36rem;
  }
  section#testimonials ul.testimonials-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: 1150px;
  }
  section#testimonials ul.testimonials-list li.testimonials-list-item {
    margin-bottom: 0;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  section#testimonials {
    padding: 10rem 4rem;
  }
}

section#gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: 'milkbottles orange' 'cone sugarcubes';
}

section#gallery img {
  display: block;
  width: 100%;
}

section#gallery > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: milkbottles;
}

section#gallery > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: orange;
}

section#gallery > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: cone;
}

section#gallery > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: sugarcubes;
}

@media screen and (min-width: 768px) {
  section#gallery {
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: 'milkbottles orange cone sugarcubes';
  }
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.125rem;
}
/*# sourceMappingURL=main.css.map */