@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,700;9..144,900&display=swap");
.list-style-none {
  list-style: none;
}

.text-decoration-none {
  text-decoration: none;
}

@font-face {
  font-family: "icomoon";
  src: url("../assets/fonts/icomoon/icomoon.eot?nk3hgn");
  src: url("../assets/fonts/icomoon/icomoon.eot?nk3hgn#iefix") format("embedded-opentype"), url("../assets/fonts/icomoon/icomoon.ttf?nk3hgn") format("truetype"), url("../assets/fonts/icomoon/icomoon.woff?nk3hgn") format("woff"), url("../assets/fonts/icomoon/icomoon.svg?nk3hgn#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-facebook:before {
  content: "\e900";
  color: hsl(167deg, 40%, 24%);
}

.icon-icon-instagram:before {
  content: "\e901";
  color: hsl(167deg, 40%, 24%);
}

.icon-icon-pinterest:before {
  content: "\e902";
  color: hsl(167deg, 40%, 24%);
}

.icon-icon-twitter:before {
  content: "\e903";
  color: hsl(167deg, 40%, 24%);
}

nav#navbar {
  background-color: #3DBEFF;
  width: 100vw;
  height: 80px;
  padding: 0 1em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

nav#navbar .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
}
nav#navbar .wrapper #navbar-toggler {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
nav#navbar .wrapper #navbar-links {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 1em;
  margin-top: 1em;
  display: none;
  box-shadow: 0 2px 4px #ddd;
}
nav#navbar .wrapper #navbar-links.show {
  -webkit-animation: fade-in 0.3s;
          animation: fade-in 0.3s;
}
nav#navbar .wrapper #navbar-links.close {
  -webkit-animation: fade-out 0.3s;
          animation: fade-out 0.3s;
}
nav#navbar .wrapper #navbar-links::before {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  position: absolute;
  bottom: 100%;
  right: 0;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
  background-color: inherit;
}

#navbar-links li a {
  font-family: Barlow;
  font-weight: 600;
  padding: 1em 0;
  transition: 0.3s;
  display: block;
}
#navbar-links li a:not(#to-contacts) {
  text-align: center;
  color: hsl(232deg, 10%, 55%);
}
#navbar-links li a#to-contacts {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.5em auto 0;
  padding: 1em 1.5em;
  color: hsl(212deg, 27%, 19%);
  text-transform: uppercase;
  font-family: Fraunces;
  font-size: 1rem;
  border-radius: 1.5em;
  background-color: hsl(51deg, 100%, 49%);
  transition: 0.3s;
}
#navbar-links li a#to-contacts:hover {
  background-color: #e0bf00;
}
#navbar-links li a:hover {
  color: hsl(213deg, 9%, 39%);
}

@media screen and (min-width: 992px) {
  nav#navbar {
    height: auto;
    padding: 1.5em 0;
  }

  nav#navbar .wrapper {
    padding: 0 2em;
  }
  nav#navbar .wrapper #navbar-toggler {
    display: none;
  }
  nav#navbar .wrapper #navbar-links {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: static;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
  nav#navbar .wrapper #navbar-links.show {
    display: flex;
    -webkit-animation: none;
            animation: none;
  }
  nav#navbar .wrapper #navbar-links::before {
    content: none;
  }

  #navbar-links li a {
    padding: 0 1.2em;
    color: #fff;
  }
  #navbar-links li a:not(#to-contacts) {
    color: #fff;
    font-weight: normal;
  }
  #navbar-links li a#to-contacts {
    margin-top: 0;
    margin-left: 1.2em;
    padding: 1em 1.5em;
    background-color: #fff;
  }
  #navbar-links li a#to-contacts:hover {
    color: #fff;
    background-color: #6CD0FF;
  }
  #navbar-links li a:hover {
    color: rgba(255, 255, 255, 0.6);
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-1em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-1em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-1em);
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-1em);
  }
}
header#intro {
  background-image: url("../assets/images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
header#intro .wrapper {
  width: 100%;
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header#intro .wrapper h1 {
  font-family: Fraunces;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 0.2em;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
header#intro .wrapper #scroll-to-content {
  margin-top: 2.5em;
  display: block;
  text-decoration: none;
  cursor: pointer;
}
header#intro .wrapper #scroll-to-content svg {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
header#intro .wrapper #scroll-to-content svg:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@media screen and (min-width: 768px) {
  header#intro .wrapper h1 {
    font-size: 2.3em;
  }
}
@media screen and (min-width: 992px) {
  header#intro {
    background-image: url("../assets/images/desktop/image-header.jpg");
  }
  header#intro .wrapper {
    min-height: 100vh;
  }

  header#intro .wrapper h1 {
    font-size: 3em;
  }
  header#intro .wrapper a#scroll-to-content {
    margin-top: 3.5em;
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(-10%);
  }
  to {
    transform: translateY(10%);
  }
}
@keyframes bounce {
  from {
    transform: translateY(-10%);
  }
  to {
    transform: translateY(10%);
  }
}
section#features-1 article {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: "illustration" "content";
  align-content: center;
}
section#features-1 article .illustration {
  grid-area: illustration;
  width: 100%;
}
section#features-1 article .content {
  grid-area: content;
  text-align: center;
  padding: 3.5em 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 37.5rem;
  margin: 0 auto;
}

section#features-1 article .content h2 {
  font-family: Fraunces;
  font-weight: bold;
  color: hsl(212deg, 27%, 19%);
  font-size: 1.8em;
  font-weight: 900;
  margin-bottom: 0.8em;
  width: 100%;
}
section#features-1 article .content p {
  font-family: Barlow;
  font-weight: 600;
  color: hsl(232deg, 10%, 55%);
  line-height: 1.6em;
  margin-bottom: 1.8em;
}
section#features-1 article .content a {
  display: inline-block;
  text-decoration: none;
  margin: auto;
  font-family: Fraunces;
  font-weight: 900;
  color: hsl(212deg, 27%, 19%);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1em;
  font-size: 0.85em;
  position: relative;
}
section#features-1 article .content a span.text {
  position: relative;
  z-index: 2;
}
section#features-1 article .content a::after {
  content: "";
  display: block;
  width: calc(100% + 1em);
  height: 0.7em;
  border-radius: 0.7em;
  position: absolute;
  top: 100%;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: 1;
  transition: 0.3s;
}

section#features-1 article:nth-child(1) a::after {
  background-color: rgba(250, 212, 0, 0.5);
}
section#features-1 article:nth-child(1) a:hover::after {
  background-color: hsl(51deg, 100%, 49%);
}
section#features-1 article:nth-child(2) a::after {
  background-color: rgba(254, 120, 103, 0.5);
}
section#features-1 article:nth-child(2) a:hover::after {
  background-color: hsl(7deg, 99%, 70%);
}

@media screen and (min-width: 578px) {
  section#features-1 article .content {
    padding: 8em 1.3em;
  }
}
@media screen and (min-width: 992px) {
  section#features-1 article {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }
  section#features-1 article .illustration {
    grid-area: illustration;
  }
  section#features-1 article:nth-child(1) {
    grid-template-areas: "content illustration";
  }
  section#features-1 article:nth-child(2) {
    grid-template-areas: "illustration content";
  }
  section#features-1 article .content {
    grid-area: content;
    text-align: left;
    padding: 0 10%;
  }

  section#features-1 article .content h2 {
    font-size: 2.34em;
  }
  section#features-1 article .content a {
    margin: 0;
    align-self: flex-start;
  }
}
#features-2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: "graphic-design" "photography";
}
#features-2 article {
  width: 100%;
  position: relative;
}
#features-2 article .features-2-illustration {
  width: 100%;
  display: block;
}
#features-2 > *.graphic-design {
  grid-area: graphic-design;
}
#features-2 > *.photography {
  grid-area: photography;
}

#features-2 article.graphic-design .content > * {
  color: hsl(167deg, 40%, 24%);
}
#features-2 article.photography .content > * {
  color: hsl(198deg, 62%, 26%);
}
#features-2 article .content {
  position: absolute;
  height: 50%;
  width: 100%;
  max-width: 380px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#features-2 article .content h3 {
  font-size: 1.8rem;
  font-family: Fraunces;
  font-weight: 900;
  margin-bottom: 1.6rem;
}
#features-2 article .content p {
  font-size: 1rem;
  font-family: Barlow;
  font-weight: 600;
  padding: 0 0.8rem;
  line-height: 1.7rem;
}

@media screen and (min-width: 992px) {
  #features-2 {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: "graphic-design photography";
  }
}
section#testimonials {
  padding: 4rem 1.5rem;
  text-align: center;
}
section#testimonials h2 {
  font-family: Fraunces;
  font-weight: 900;
  font-size: 1rem;
  color: hsl(210deg, 4%, 67%);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-bottom: 4rem;
}
section#testimonials ul.testimonials-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

section#testimonials ul.testimonials-list li.testimonials-list-item {
  display: block;
  margin-bottom: 4rem;
  max-width: 37.5rem;
}
section#testimonials ul.testimonials-list li.testimonials-list-item:last-child {
  margin-bottom: 0;
}
section#testimonials ul.testimonials-list li.testimonials-list-item img {
  display: inline-block;
  width: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
  margin-bottom: 2rem;
}
section#testimonials ul.testimonials-list li.testimonials-list-item p.quote {
  font-size: 1.1rem;
  font-family: Barlow;
  font-weight: 600;
  line-height: 2rem;
  color: hsl(213deg, 9%, 39%);
  margin-bottom: 2rem;
}
section#testimonials ul.testimonials-list li.testimonials-list-item p.author > * {
  display: block;
}
section#testimonials ul.testimonials-list li.testimonials-list-item .author-name {
  font-family: Fraunces;
  font-weight: 900;
  color: hsl(212deg, 27%, 19%);
  margin-bottom: 0.6rem;
}
section#testimonials ul.testimonials-list li.testimonials-list-item .author-position {
  color: hsl(210deg, 4%, 67%);
  font-size: 0.94rem;
  font-family: Barlow;
  font-weight: 600;
  font-style: normal;
  text-transform: capitalize;
}

@media screen and (min-width: 776px) {
  section#testimonials {
    padding: 6rem 1.5rem;
  }
  section#testimonials ul.testimonials-list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  section#testimonials ul.testimonials-list li.testimonials-list-item {
    width: 50%;
    padding: 0 1rem;
  }
}
@media screen and (min-width: 992px) {
  section#testimonials {
    padding: 8rem 2rem;
  }
  section#testimonials h2 {
    margin-bottom: 6rem;
    font-size: 1.2rem;
    letter-spacing: 0.36rem;
  }
  section#testimonials ul.testimonials-list {
    flex-wrap: nowrap;
    max-width: 1150px;
  }

  section#testimonials ul.testimonials-list li.testimonials-list-item {
    margin-bottom: 0;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  section#testimonials {
    padding: 10rem 4rem;
  }
}
section#gallery {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "milkbottles orange" "cone sugarcubes";
}
section#gallery img {
  display: block;
  width: 100%;
}
section#gallery > *:nth-child(1) {
  grid-area: milkbottles;
}
section#gallery > *:nth-child(2) {
  grid-area: orange;
}
section#gallery > *:nth-child(3) {
  grid-area: cone;
}
section#gallery > *:nth-child(4) {
  grid-area: sugarcubes;
}

@media screen and (min-width: 768px) {
  section#gallery {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: "milkbottles orange cone sugarcubes";
  }
}
footer {
  background-color: #8bc6ba;
  padding: 4rem 2rem;
}
footer .footer_wrapper {
  max-width: 375px;
  margin: 0 auto;
}
footer .footer_wrapper > * {
  width: 100%;
}
footer a.brand {
  display: block;
  text-align: center;
  margin-bottom: 2rem;
}
footer a.brand img {
  width: 10rem;
}
footer nav {
  margin-bottom: 4rem;
}
footer nav ul {
  display: flex;
  justify-content: space-between;
}
footer nav ul li a {
  padding: 0 1rem;
  font-family: Barlow;
  font-weight: 600;
  color: hsl(167deg, 40%, 24%);
  transition: 0.3s;
}
footer nav ul li a:hover {
  color: #fff;
}
footer aside ul {
  display: flex;
  justify-content: center;
}
footer aside ul li a {
  padding: 0 0.8rem;
}
footer aside ul li a i::before {
  font-size: inherit;
  transition: 0.3s;
  color: hsl(167deg, 40%, 24%);
}
footer aside ul li a i:hover::before {
  color: #fff;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.125rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */