// Barlow ********************************************************************

// Regular - Normal
@font-face {
    font-family: Barlow;
    src: url("../assets/fonts/Barlow/Barlow-Regular.ttf");
    font-weight: normal;
}

// Regular - fw-600
@font-face {
    font-family: Barlow;
    src: url("../assets/fonts/Barlow/Barlow-SemiBold.ttf");
    font-weight: 600;
}


// Fraunces *****************************************************************

// Regular
@font-face {
    font-family: Fraunces;
    src: url("../assets/fonts/Fraunces/static/Fraunces/Fraunces-Regular.ttf");
    font-weight: normal;
}