// Barlow ********************************************************************

// Regular
@font-face {
    font-family: Barlow;
    src: url("../assets/fonts/Barlow/Barlow-Black.ttf");
}


// Fraunces *****************************************************************

// Regular
@font-face {
    font-family: Fraunces;
    src: url("../assets/fonts/Fraunces/static/Fraunces/Fraunces-Black.ttf");
    font-weight: normal;
}