@import "colors";

nav#navbar {
    background-color: #3DBEFF;
    width: 100vw;
    height: 80px;
    padding: 0 1em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

nav#navbar .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;

    #navbar-toggler {
        border: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
    }

    #navbar-links {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 1em;
        margin-top: 1em;
        display: none;
        box-shadow: 0 2px 4px #ddd;

        &.show {
            // display: block;
            animation: fade-in 0.3s;
        }

        &.close {
            animation: fade-out 0.3s;
        }

        &::before {
            content: "";
            display: block;
            width: 1em;
            height: 1em;
            position: absolute;
            bottom: 100%;
            right: 0;
            clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
            background-color: inherit;
        }
    }
}

#navbar-links li a {
    font-family: Barlow;
    font-weight: 600;
    padding: 1em 0;
    transition: 0.3s;
    display: block;

    &:not(#to-contacts) {
        text-align: center;
        color: $dark-grayish-blue;
    }

    &#to-contacts {
        width: fit-content;
        margin: 0.5em auto 0;
        padding: 1em 1.5em;
        color: $very-dark-desaturated-blue;
        text-transform: uppercase;
        font-family: Fraunces;
        font-size: 1rem;
        border-radius: 1.5em;
        background-color: $yellow;
        transition: 0.3s;

        &:hover {
            background-color: darken($yellow, 5%);
        }
    }

    &:hover {
        color: $very-dark-grayish-blue;
    }
}


@media screen and (min-width: 992px) {
    nav#navbar {
        height: auto;
        padding: 1.5em 0;
    }

    nav#navbar .wrapper {
        padding: 0 2em;

        #navbar-toggler {
            display: none;
        }

        #navbar-links {
            background-color: transparent;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: fit-content;
            position: static;
            margin: 0;
            padding: 0;
            box-shadow: none;

            &.show {
                display: flex;
                animation: none;
            }

            &::before {
                content: none;
            }
        }
    }

    #navbar-links li a {
        padding: 0 1.2em;
        color: #fff;

        &:not(#to-contacts) {
            color: #fff;
            font-weight: normal;
        }

        &#to-contacts {
            margin-top: 0;
            margin-left: 1.2em;
            padding: 1em 1.5em;
            background-color: #fff;

            &:hover {
                color: #fff;
                background-color: #6CD0FF;
            }
        }

        &:hover {
            color: rgba(255, 255, 255, 0.6);
        }
    }
}


// Fade-in animation
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-1em);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

// Fade-out animation
@keyframes fade-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-1em);
    }
}